.newspost-detail-wrapper {
    padding: 2rem 3rem;
    text-align: justify;
}

.newspost-type-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newspost-type {
    color: green;
    padding: 0.5rem 0;
}

.home-icon {
    color: green;
    cursor: pointer;
    transition: all 0.03 ease-in-out;
}

.home-icon:hover {
    transform: scale(1.4) rotate(-30deg);
}

.newspost-header-wrapper {
}

.newspost-header {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.newspost-text {
    color: white;
    padding: 0.5rem;
    line-height: 1.4;
    letter-spacing: -0.2px;
}

.newspost-additional-info-wrapper {
    padding: 1rem 0;
    color: wheat;
}

.newspost-author {
    font-size: 1.2rem;
}

.newspost-date {
    font-size: 0.8rem;
}

.newspost-comment-wrapper {
}
