.comments-wrapper {
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(216, 214, 214);
    text-align: justify;
    background-color: #c7d3ff;
    background-color: #ffecd0;
}

.author-info {
    font-size: 0.8rem;
    color: rgb(82, 26, 26);
    font-weight: 600;
}

.comments-text-wrapper {
    padding: 0.5rem 0;
}

.comments-text {
    font-size: 0.9rem;
    letter-spacing: -0.2px;
}

.comment-date {
    padding: 0.2rem 0;
    font-size: 0.8rem;
    color: rgb(71, 47, 47);
}
